<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 12rem;">
                {% if profile.picture %}
                    <img src="{{ profile.picture.url }}" alt="Profile Picture" class="card-img-top">
                {% else %}
                    <p>No profile picture uploaded.</p>
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ profile.user.username }}'s Contact Information</h5>
                    <p class="card-text">First Name: {{ profile.user.first_name }}</p>
                    <p class="card-text">Last Name: {{ profile.user.last_name }}</p>
                    <p class="card-text">Email: {{ profile.user.email }}</p>
                    <p class="card-text">Phone Number: {{ profile.phone_number }}</p>
                    <p class="card-text">Address: {{ profile.address }}</p>
                    {% if user.is_authenticated and user == profile.user %}
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center">
            <div class="container-bio">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                    <p class="card-text">This is a short bio about {{ profile.user.first_name }}. He/She is a software developer with a passion for creating amazing applications.</p>
                    {% if latest_recipes %}
                    <div class="latest-recipes mt-4">
                        <h5 class="card-title">Latest Recipes</h5>
                        <div class="row">
                            {% for recipe in latest_recipes|slice:":4" %}
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    {% if recipe.picture %}
                                        <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }}" class="card-img-top">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ recipe.title }}</h5>
                                        <p class="card-text">{{ recipe.description }}</p>
                                        <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>No recipes found.</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}