{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
    <meta charset="UTF-8">
    <title>Profiles List</title>  
    </head>
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-3">
            <h2>Profiles List</h2>
        </div>
        <div class="row justify-content-center">
            {% for profile in profiles %}
                <div class="col-md-2 mb-4 d-flex align-items-stretch">
                    <div class="card text-center" onclick="window.location.href='{% url 'profile' user_id=profile.user.id %}'">
                        {% if profile.picture %}
                            <img id="profile-picture" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="rounded-circle img-fluid mx-auto d-block" style="max-width: 50%;">
                        {% else %}
                            <img id="profile-picture" src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Image" class="rounded-circle img-fluid mx-auto d-block" style="max-width: 50%;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.user.username }}</h5>
                            <p class="card-text">{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                            <p class="card-text"><small class="text-muted">{{ profile.user.email }}</small></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row justify-content-center">
                {% endif %}
            {% empty %}
                <p class="text-center">No Profiles Available</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}