<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
    <meta charset="UTF-8">
    <title>Recipes List</title>  
    </head>
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-3">
            <h2>Recipes List</h2>
            
        </div>
        <div class="row justify-content-center">
            {% for recipe in recipes %}
                <div class="col-md-2 mb-4">
                    <div class="card" onclick="window.location.href='{% url 'recipe_detail' recipe_id=recipe.id %}'">
                        {% if recipe.picture %}
                            <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }}" class="rounded-circle img-fluid mx-auto d-block" style="max-width: 50%;">
                        {% else %}
                            <img src="{% static 'images/recipe.jpg' %}" alt="Default Recipe Image" class="rounded-circle img-fluid mx-auto d-block" style="max-width: 50%;">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            {% if recipe.user.profile.picture %}
                                <img src="{{ recipe.user.profile.picture.url }}" alt="User Picture" class="rounded-circle img-fluid" style="width: 50px; height: 50px;">
                            {% endif %}
                            <p class="card-text">{{ recipe.user.username }}</p>
                            <p class="card-text"><small class="text-muted">{{ recipe.created_at|date:"d M Y" }}</small></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row justify-content-center">
                {% endif %}
            {% empty %}
                <p>No Recipe Available</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}